.THIS.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
}
.THIS .image-container {
    display: flex;
    align-items: center;
}
.THIS .image-container img {
    max-width: 100%;
    object-fit: contain;
}
.THIS .text-container {
    flex: 0 auto;
    text-align: center;
    padding: 0;
    margin: 0 1px;
}
@media (max-width: 768px) {
    .THIS.banner {
        flex-direction: column;
    }
    .THIS .text-container {
        margin: 10px 0;
    }
}